;; Configuration for the Parental Control Module
[ParentalControls]
    Enabled = true

    ;; Port for the PHP Admin panel to signal cache flushes
    ;; Ensure this port is open in your local firewall for 127.0.0.1
    AdminPort = 9100

    ;; If true, restricted accounts cannot teleport out of the region
    BlockAllTeleports = true

    ;; If true, the designated ParentID can always IM/Contact the child
    ;; regardless of the Friends List status.
    AllowParentBypass = true
